<footer class="footer">

<div>
	<ul class="footer-nav">
		<li class="footer-logo"><%= link_to image_tag("logos/twitter.png"), image_path( "logos/twitter.png") %></li>
		<li class="footer-logo"><%= link_to image_tag("logos/facebook.png"), image_path( "logos/twitter.png") %></li>
		<li class="footer-logo"><%= link_to image_tag("logos/rss.png"), image_path( "logos/twitter.png") %></li>
	</ul>
</div>

</footer>
