<header class="header">

<h1 class="guard">NBA Guard Your Card</h1>

</header>

	<nav class="header-nav">
		<ul>
		<% if user_signed_in? %>
		<% unless @draft %>
			<li><%= link_to 'Home ', root_path, method: :get, class: :nav %></li>
		<% end %>
		
			<li><%= link_to ' Logout', destroy_user_session_path, class: :nav, method: :delete %></li>
		<% else %>
			<li class="active"><%= link_to 'log in', new_user_session_path, class: :nav %></li> 
			<li class="active"><%= link_to 'sign up', new_user_registration_path, class: :nav %></li>
		<% end %>
		</ul>
		
	</nav>
