/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.black {
	background-color: #000000;
	font-family: 'Economica', sans-serif;
	font-size: 12pt;
	color: #47CDFE;
}

.header {
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.5);

}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: rgb(0, 0, 0);
	z-index: 1000;
}

h4 {
	text-align: center;
}

.guard {
	margin: auto;
	padding-top: 10px;
	text-align: center;
	color: white;
	font-size: 3em;
}

.card-name {
	text-align: center;
	font-family: 'Economica', sans-serif;
	font-size: 12pt;
	color: #47CDFE;
}

.header-nav {
	display: inline;
	position: fixed;
	top: 0px;
	padding: 5px;
	font-size: 2em;
	color: #47CDFE;
}

nav ul {
	font-size: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
}

nav a {
	display: block;
	/*color: red;*/
	text-decoration: none;
	background-color: black; 
	font-size: 24px;
	margin-top: 25px;
	margin-left: 25px;
}

.modal-body{
	background-color: rgb(0, 0, 0);
	color: #fff;
}

.modal-title {
 color: #47CDFE;
}

.btn /*btn-info btn-lg*/{
	float: right;
	margin-top: -50px;
	margin-right: 25px;
}

.btnClose {
	color: black;
}

a:link, a:visited, a:hover, a:active {
	font-family: 'Economica', sans-serif;
	font-size: 16pt;
	color: #47CDFE;
}

.enter {
	/*display: none;*/
	margin: auto;
	padding-top: 30px;
	width: 420px;
	height: 520px;
	background-color: rgba(0, 0, 0, 0.6);
}

.enter2{
	margin: auto;
	padding-top: 30px;
	width: 420px;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.6);
}

.instructions{
	margin-left: 125px;
	padding-bottom: 30px;
	font-size: 2em;
	text-shadow: 2px 1px #000;
}

.instructions2{
	margin-left: 150px;
	font-size: 2em;
	text-shadow: 2px 1px #000;
}

.efields {
	margin: auto;
}

.efields2 {
	margin: auto;
}

.field {
	display: inline-block;
	font-size: 2em;
	margin-left: 100px;
	color: #000;
}

.field3 {
	display: inline-block;
	padding-top: 20px;
	font-size: 2em;
	margin-left: 100px;
	color: #000;
}

.field2{
	margin-left: 100px;
	font-size: 1em;
	color: #47CDFE;
}

.actions {
	margin-top: 25px;
	margin-left: 85px;
}

.actions2 {
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: 85px;
}

.labels {
	font-size: 18pt;
	margin: auto;
	text-align: center;
	color: white;
	text-shadow: 2px 1px #000;
}

.labels2 {
	margin: auto;
	text-align: center;
	color: #47CDFE;
	font-size: 12pt;
	text-shadow: 2px 1px #000;
}

.labels3 {
	margin: auto;
	text-align: center;
	color: #fff;
	font-size: 18pt;
	text-shadow: 2px 1px #000;
}

.submitting {
	font-size: 18pt;
	width: 200px;
	/*padding: 10px;*/
	background-color: black;
	color: #47CDFE;
	margin-left: 25px;
}

.devise-links {
	font-size: 14pt;
	text-align: center;
	text-shadow: 2px 1px #000;
}

.footer-nav {
	list-style-type: none;
	margin-left: 550px;
/*	margin-left: 25px;*/
}

.footer-logo{
	display: inline-block;
	opacity: 0.7;
}

.footer-nav li {
	margin-top: 10px;
	margin-left: 25px;
}

.container {
	display: none;
	top: 0;
	right: 0;
	left: 0;
	right: 0;
}

.selection {

}

.magictrick {
	/*float: right;*/
	list-style-type: none;
	position: fixed;
	font-family: 'Economica';
	font-size: 18pt;
	color: #fff;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 5px;
	border: 2px solid #47CDFE;
	line-height: 50px;
	background-color: rgba(40, 40, 40, 0.8);
}

.gametime {
	font-family: 'Economica';
	color: #FFFFFF;
	text-align: center;
	margin: auto;
	font-size: 2em;
}

.madness {
	margin-bottom: 35px;
	text-align: center;
	font-size: 2.5em;
}

.table {
	max-width: 100%;
	margin: 0 auto;
}

.players {
	display: inline-block;
	width: 100%;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	margin-left: 5%;
}

tr {
	display: inline-block;
	width: 180px;
	height: 300px;
}

td {
	display: inline-block;
	padding: 10px;
	margin: 33px;
	height: 220px;
}

.pname {
	text-align: center;
}

.stuff {
	font-size: 1em;
}

.categories {
	margin-left: 100px;
	width: 1000px;
}

.cats {
	width: 500px;
}

.submit {
	text-align: center;
	margin: auto;
	height: 200px;
}

.button {
	width: 100px;
	height: 50px;
	text-align: center;
	margin: 10px 0 auto;
	font-size: 2em;
	font-family: 'Economica', sans-serif;
	color: black;
	background-color: #AFAFAF;
	border-radius: 5px;
}

.card_image {
	width: 150px;
	height: 180px;
/*	margin-bottom: px;*/
}

.card_image:hover {
	position: relative;
	width: 300px;
	height: 360px;
} 
 
.new-hidden {
	display: none;
}

.popover-content { 
	width: 150px;
	color: #000;
	background:rgba(166, 173, 166, .6); 
	font-family: 'Economica', sans-serif;
	font-size: 20px;
	border: 0px solid black;
	z-index: -1000;
}

.get {
	margin-left: 45px;
	font-family: 'Economica';
	font-size: 14pt;
}

#drag {
	max-width: 100%; 
	height: 100%; 
	padding: 0.5em; 
}

.gameclin {
	width: 150px;
	height: 180px;
}

.draggable { 
 	width: 150px; 
 	height: 150px; 
 	padding: 0.5em; 
	color: white; 
}

.droppable { 
 	width: 300px; 
 	height: 300px; 
 	margin-left: 0px; 
	margin-bottom: 20px;
 	color: white; 
 	border: 2px solid white;
}

.drop-item{
	text-align: center;
	margin-top: 125px;
}

ul.play {
	list-style-type: none;
}

#userPlayer {
	display: inline-block;
}

.team {
	margin-left: 45px;
}

.bill {
	display: inline-block;
	float:left;
	width: 200px;
}

.will {
	display: inline-block;
	float: right;
	width:200px;
	margin-left: 50px;
	padding-bottom: 50px;
}

.cpu-card{
 	width: 150px; 
 	height: 180px; 
}

.gameon {
	list-style-type: none;
	margin-bottom: 25px;
	padding: 10px;
}

.gameon2{
	list-style-type: none;
	margin-bottom: 25px;
}

.phone {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

#display {
	font-family: 'Economica', sans-serif;
	font-size: 16pt;
	margin-left: 60px;
		text-shadow: 2px 2px black;
}

#showme {
	font-family: 'Economica', sans-serif;
	font-size: 16pt;
	margin-left: 60px;
		text-shadow: 2px 2px black;
}

#show {
	font-family: 'Economica', sans-serif;
	font-size: 18pt;
	margin-left: 85px;
	color: red;
	text-shadow: 2px 2px black;
}

#show2 {
	font-family: 'Economica', sans-serif;
	font-size: 36pt;
	width: 300px;
	margin: auto;
	text-align: center;
	color: red;
}

/*@font-face { 
	font-family: 'DS-Digital'; 
	src: url('/assets/ds_digital/DS-DIGI.TTF');
} */

@font-face { 
font-family: 'DS-Digital'; 
src: url("<%= asset_path ('DS-DIGI.TTF') %>"); 
}

#scoreboard {
	width: 400px;
	height: 300px;
		text-shadow: 2px 2px black;
}

#scoreboardcheck{
	margin-top: 30px;
	height: 500px;
}

#counter {
	font-family: 'Economica', sans-serif;
	font-size: 24pt;
	width: 250px;
	margin-left: 28px;
}

#counter2 {
	display: inline-block;
	width: 75px;
	height: 80px;
	font-size: 32pt;
	margin-left: 75px;
	padding-top: 30px;
	padding-left: 25px;
	letter-spacing: 50px;
	font-family: 'DS-Digital';
	text-shadow: 3px 3px #42000B;
	color: #FFD712;
	border: 2px solid #8E0000;
	background-color: rgba(0, 0, 0, 0.5)
}

#counter3 {
	display: inline-block;
	width: 75px;
	height: 80px;
	font-size: 32pt;
	margin-left: 0px;
	padding-top: 30px;
	padding-left: 25px;
	letter-spacing: 50px;
	font-family: 'DS-Digital';
	text-shadow: 3px 3px #42000B;
	color: #FFD712;
	border: 2px solid #8E0000;
	background-color: rgba(0, 0, 0, 0.5)
}

/*#counter4 {
	color: #FFD712;
	font-family: 'DS-Digital';
	font-size: 22pt;
	margin-left: 75px;
}*/

.new-game {
	margin: auto;
	padding-top: 10px;
	text-align: center;
}

.playingField {
	margin-top: 30px;
	margin-left: 150px;
}
